{% extends '_base.html' %}

{% block title %} {{ book.title }} Detail {% endblock title %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                <span class="badge badge-dark">
                    <h4>${{ book.price }}</h4>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 reviews mt-5">
        <h4 class="mb-3">Reviews for {{ book }}:</h4>
        {% for review in book.reviews.all %}
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    - {{ review.author }}
                </h6>
                {{ review.review }}
            </div>
        </div>
        {% empty %}
        No one reviewed yet, be the first!
        {% endfor %}
    </div>
</div>
{% endblock content %}